{% load static %}
<h3 id="name"> Create </h3>
<div class="category">
    <a href="{% url 'createclothes' %}" ><img src="{% static 'images/jpg/clothes.png' %}" alt="home"><p>Clothes</p></a>
    <a href="{% url 'createelectronics' %}" ><img src="{% static 'images/png/elec.png' %}" alt="home"><p>Electronics</p></a>
    <a href="{% url 'createfurniture' %}" ><img src="{% static 'images/png/furnuture.png' %}" alt="home"><p>Furnuture</p></a>
    <a href="{% url 'createsports' %}" ><img src="{% static 'images/png/sport.png' %}" alt="home"><p>Sport</p></a>
    <a href="{% url 'createhousehold' %}"><img src="{% static 'images/png/housegoods.png' %}" alt="home"><p>Household</p></a>
</div>

